@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* login page */
body.login_page main,
main.login_page {
    padding:3.25rem 1.25rem 1.5rem;
    background:#ffffff;
}
.logo_wrap {
    text-align:center;
}
.img_logo {
    margin-bottom:1.0rem;
}
.ip_wrap {
    padding:0.25rem 0;
}
.ip_wrap .sound_only {
    display:none;
}
.ip_wrap input {
    padding:0.75rem;
    width:100%;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0.75rem;
    font-size:0.875rem;
}
.ip_wrap input[type="checkbox"] {
    border:1px solid #ddd;
}
.ip_wrap ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #DDDDDD;
    opacity: 1; /* Firefox */
}
.ip_wrap :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #DDDDDD;
}
.ip_wrap ::-ms-input-placeholder { /* Microsoft Edge */
    color: #DDDDDD;
}
.ip_wrap select {
    padding: 0.75rem;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0.75rem;
    font-size: 0.875rem;
}
.login_form {
    margin:0.875rem auto 3.75rem;
    width:100%;
    max-width:30.0rem;
    color:#555;
}
.login_form #login_info {
    font-size:0.75rem;
}
.form_wrap .btn_submit {
    display:block;
    margin:0.75rem auto 0;
    padding:0.875rem 0.5rem;
    width:100%;
    color:#fff;
    font-size:0.875rem;
    border:none;
    background: linear-gradient(180deg, #00574B 0%, #01695A 100%);
    filter: drop-shadow(0px 4px 10px #9C9A9A);
    border-radius: 0.5rem;
    transition:all 0.3s;
}
.form_wrap .btn_submit:hover {
    opacity:0.9;
}
.register_btn_wrap {
    margin:0 auto;
    max-width:30.0rem;
    font-size:0.875rem;
    color:#b3b3b3;
}
.register_btn_wrap .txt_wrap {
    margin-bottom:0.525rem;
}
.register_btn_wrap .txt {
    margin:0 auto;
    width:10.5rem;
    z-index: 1;
    background: #fff;
    text-align:center;
}
.register_btn_wrap .line {
    position:absolute;
    top:50%;
    width:100%;
    height:1px;
    background:#E7E7E7;
    z-index:0;
}
.register_btn_wrap .btn {
    display:block;
    padding:0.875rem 0.5rem;
    text-align:center;
    border-radius:0.5rem;
    transition:all 0.3s;
}
.register_btn_wrap .btn:hover {
    opacity:0.85;
}
.register_btn_wrap .flex_wrap {
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.register_btn_wrap .flex_wrap .gray_btn {
    width:49.25%;
    background:#F3F3F3;
}
.register_btn_wrap .light_gray_btn  {
    margin-top:0.375rem;
    background:#83BDB5;
    color:#fff;
}

/* find id, pw page */
body.member_page main,
main.member_page {
    height:auto;
    padding:7.25rem 1.25rem 3.5rem 1.25rem;
    background:#f3f3f3;
}
.find_form {
    margin:0 auto;
    max-width:30.0rem;
}
.find_form #f_find {
    font-size:0.875rem;
}
.find_form #f_find .inner_wrap {
    padding:1.5rem 1.25rem 2.75rem 1.25rem;
    background:#fff;
    border-radius:0.75rem;
}
.find_form #f_find .inner_wrap .dec_txt {
    margin-bottom:0.25rem;
    color:#555;
}
.form_wrap #f_find .btn_submit {
    margin-top:1.75rem;
}
.form_wrap #f_find .flex_wrap {
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.form_wrap #f_find .flex_wrap input {
    width:49.25%;
    height:3.0rem;
}
.form_wrap #f_find .flex_wrap .gray_btn {
    display:block;
    width:49.25%;
    height:3.0rem;
    font-size:0.875rem;
    color:#b3b3b3;
    background: #F3F3F3;
    padding:0.75rem;
    text-align:center;
    border: 1px solid #E7E7E7;
    border-radius: 0.375rem;
    transition:all 0.3s;
}
.form_wrap #f_find .flex_wrap .gray_btn:hover {
    background:#e3e3e3;
}

/* register_form */
.register_form {
    margin:0 auto;
    max-width:30.0rem;
}
.register_form #f_register {
    font-size:0.875rem;
}
.register_form #f_register .inner_wrap {
    padding:1.5rem 1.25rem 2.75rem 1.25rem;
    background:#fff;
    border-radius:0.75rem;
}
.register_form #f_register .inner_wrap label.ip_wrap {
    display:block;
    margin-bottom:0.875rem;
}
.register_form #f_register .inner_wrap label.ip_wrap:last-child {
    margin-bottom:0;
}
.register_form #f_register .inner_wrap label.ip_wrap p {
    margin-bottom:0.5rem;
}
.form_wrap #f_register .flex_wrap {
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-top:0.45rem;
}
.form_wrap #f_register .flex_wrap input {
    width:49.25%;
    height:3.0rem;
}
.form_wrap #f_register .flex_wrap .gray_btn {
    display:block;
    width:49.25%;
    height:3.0rem;
    font-size:0.875rem;
    color:#b3b3b3;
    background: #F3F3F3;
    padding:0.75rem;
    text-align:center;
    border: 1px solid #E7E7E7;
    border-radius: 0.375rem;
    transition:all 0.3s;
}
.form_wrap #f_register .flex_wrap .gray_btn:hover {
    background:#e3e3e3;
}
.form_wrap #f_register input#user_pw {
    margin-bottom:0.45rem;
}
.form_wrap #f_register .btn_submit {
    margin:1.125rem auto 0;
}
.agree_wrap {
    margin:1.125rem auto 0;
    padding:0 1.125rem;
}
.agree_wrap .all_chk {
    margin-bottom:0.25rem;
    font-size:0.875rem;
    color:#555;
}
.agree_wrap .all_chk label {
    display:flex;
    justify-content:left;
    align-items:center;
}
.agree_wrap .all_chk input[type="checkbox"] {
    background:#01695A;
    border:none;
}
.agree_wrap .all_chk input[type="checkbox"]{
    display: none;
}
.agree_wrap .all_chk input[type="checkbox"] + tag{
    position: relative;
    display: inline-block;
    margin-right:0.125rem;
    width: 1.125rem;
    height: 1.125rem;
    border:1px solid #01695A;
    border-radius:0.25rem;
}
.agree_wrap .all_chk input[type="checkbox"]:checked + tag {
    border:none;
}
.agree_wrap .all_chk input[type="checkbox"]:checked + tag::after{
    position: absolute;
    left: 0;
    top:0;
    content:url('../img/sub/check_white.png');
    width: 1.125rem;
    height: 1.125rem;
    background:#01695A;
    border-radius:0.25rem;
    text-align: center;
}
.agree_wrap .chk_wrap label {
    display:flex;
    justify-content:left;
    align-items:center;
    padding:0.1rem 0.25rem;
    font-size:0.75rem;
    color:#939393;
    vertical-align:middle;
}
.agree_wrap .chk_wrap label a {
    color:#b3b3b3;
}
.agree_wrap .chk_wrap label input[type="checkbox"] {
    background:#01695A;
    border:none;
}
.agree_wrap .chk_wrap label input[type="checkbox"]{
    display: none;
}
.agree_wrap .chk_wrap label input[type="checkbox"] + tag{
    position: relative;
    display: inline-block;
    margin-right:0.125rem;
    width: 1.0rem;
    height: 1.0rem;
    border-radius:0.25rem;
}
.agree_wrap .chk_wrap label input[type="checkbox"] + tag::after{
    position: absolute;
    left: 0;
    top:0;
    content:url('../img/sub/check_gray.png');
    width: 1.0rem;
    height: 1.0rem;
    text-align: center;
}
.agree_wrap .chk_wrap label input[type="checkbox"]:checked + tag {
    border:none;
}
.agree_wrap .chk_wrap label input[type="checkbox"]:checked + tag::after{
    content:url('../img/sub/check_black.png');
}

/* 기본 레이어 팝업 CSS 세팅 */
.pop-layer {
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 92%;
    max-width:25.0rem;
    height:auto;  background-color:#fff;
    font-size:0.875rem;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem;
    z-index: 9999;
}
.pop-layer .pop-container {padding: 20px 18px;}

.pop-layer p.ctxt30 {color: #666; line-height: 20px;font-weight:600;margin-bottom:20px;}
.pop-layer p.ctxt20 {color: #666; line-height: 18px;}

.pop-layer .btn-r {width: 100%; margin:10px 0 10px; padding-top: 10px;text-align:center;}

.btn-r a.cbtn {display:inline-block; height:auto; padding:4px 14px ;  background-color:#5A5A5A; font-size:0.75rem; color:#fff; line-height:25px;}
.btn-r a.cbtn:hover { background-color:#000; color:#fff;}






















